.content{
    height: 100%;
    width: 100%;
}

path{
    fill: gainsboro;
    stroke: white;
    stroke-width: 1.5px;
}

path:hover {
    fill: orange;
}

.plane-animation {
    margin: 0% 0% 0% 0%;
}

.flying-route {
    margin: 0 12% 0 6%;
    transform: translateY(80px);
}

.local-map-border {
    padding: 11%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../styles/divBackground.png");
    bottom: 100%;
}

.local-map {
    border: solid 7px;
    width: 100%;
    padding-bottom: 60%;
    background-color: white;
}

.full-map-mapper {
    padding: 11%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../styles/divBackground.png");
}

.title h1 {
    width: 100%;
    font-size: 6em;
    text-align: center;
    margin: 0;
}

#history {
    padding: 2% 10% 5% 10%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../styles/divBackground.png");
    text-align: center;
}

#history h2 {
    border-top: solid 7px;
    border-bottom: solid 7px;
    text-align: center;
    width: 100%;
    font-size: 4em;
}

#history .histories {
    display: block;
}

.histories div {
    text-align: center;
    display: inline-block;
    width: 240px;
    height: 140px;
    margin: 30px;
    padding: 16px;
    border: #605D65 solid 1px;
    border-radius: 12px;
}

.histories div h3 {
    font-weight: 600;
    transform: translateY(-85px);
    text-align: center;
}

.full-map {
    border: solid 7px;
}
