.content{
    height: 100%;
    width: 100%;
}

path{
    fill: gainsboro;
    stroke: white;
    stroke-width: 1.5px;
}

path:hover {
    fill: orange;
}

.plane-animation {
    height: 31%;
    margin: 5% 0% 34% 0%;
}

/* .plane {
    position: absolute;
    animation: planeAni 3s 1 linear;
}

@keyframes planeAni {
    10% {
        transform: translate(100px, -20px);
    }

    20% {
        transform: translate(200px, -35px);
    }

    30% {
        transform: translate(300px, -50px);
    }

    40% {
        transform: translate(400px, -55px);
    }

    50% {
        transform: translate(500px, -60px);
    }

    60% {
        transform: translate(600px, -55px);
    }

    70% {
        transform: translate(700px, -50px);
    }

    80% {
        transform: translate(800px, -35px);
    }

    90% {
        transform: translate(900px, -20px);
    }

    100% {
        transform: translate(1000px, 0);
    }
} */

.flying-route {
    margin: 0 12% 0 6%;
    transform: translateY(80px);
}

.local-map-border {
    bottom: 100%;
    width: 100%;
    padding: 11px;
    background-color: black;
}

.local-map {
    width: 100%;
    padding-bottom: 60%;
    background-color: white;
}

.full-map-mapper {
    border: 11px solid;
    border-color: black;
}
